ALLOWED_HOSTS=localhost,127.0.0.2
HOST=0.0.0.0
PORT=8000
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=task_tracker
DB_URL=postgres://root:password@postgres:5432/task_tracker
DEBUG=True
SECRET_KEY="django-super-secure-)-+7t4f0p$-yfyi%@^joyf6ck^wl2&41g(6-1-$6@)0kd@8r#o"
TESTING_PORT=8001